@import "../node_modules/bootstrap/scss/functions";

$primary: #5265E1;
$secondary: #FA5959;
$font-family-sans-serif:      'Rubik', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/transitions";


// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here

#header_card {
    text-align: center;
}

#pestanyes > div > button {
    width: 100%;
}

#nav-tab {
    border: none;
    border-top: 1px solid rgb(195, 195, 195);
}

#nav-simple-tab, #nav-speedy-tab, #nav-easy-tab {
    color: gray;
    border: none;
    border-bottom: 1px solid  rgb(195, 195, 195);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 20%;

    &:hover {
        color: #fa5959;
    }

    &.active {
    border-top: 1px solid rgb(195, 195, 195);
    border-bottom: 5px solid #fa5959;
    color: black;
    }
}

#illustration_hero {
    background-image: url(/media/bg-bar.svg);
    background-repeat: no-repeat;
}

#illustration_hero {
    background-size: 250%;
    background-position: 80% 20%
}
 
@include media-breakpoint-up(sm) {
    #illustration_hero {
        background-size: 1700px;
        background-position: 80% 80px;
    } 
}

@include media-breakpoint-up(md) { 
    #illustration_hero {
        background-size: 1900px;
        background-position: 80% 140px
    }

    #pestanyes > div > button {
        width: auto;
    }

    #nav-tab {
        border-top: none;
    }

    #nav-simple-tab, #nav-speedy-tab, #nav-easy-tab {    
        &.active {
            border-top: none;
        }
    }
}

@include media-breakpoint-up(lg) {

    #header_card {
        text-align: left;
    }

    #illustration_hero {
        background-size: 1450px;
        background-position: center 100px;
    }

    #features_content, #download_content {
        max-width: 50%;
    }
}

@include media-breakpoint-up(xl) { 
    #illustration_hero {
        background-size: 1700px;
        background-position: center 120px;
    }
}

@include media-breakpoint-up(xxl) { 
    #illustration_hero {
        background-size: 2000px;
        background-position: center 145px;
    }
}