@import "../node_modules/bootstrap/scss/functions";

$primary: #5265E1;
$secondary: #FA5959;
$font-family-sans-serif:      'Rubik', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$aspect-ratios: ("custom": calc(21 / 9 * 100%));

$border-radius: .6rem;
$border-radius-lg: .9rem;
$box-shadow: 0 .5rem 1rem rgba($primary, .15);

$accordion-button-focus-border-color: none !default;
$accordion-button-focus-box-shadow:  none !default;

$accordion-button-active-color: $secondary !default;

$accordion-icon-color: $primary !default;
$accordion-icon-active-color: $secondary !default;

$form-feedback-invalid-color: $secondary !default;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed

@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/transitions";


// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// CUSTOM CODE

// NAVS
.navbar-nav > a {
    letter-spacing: 2px;
}

#navbarSupportedContent > div > a:hover,
#navbar_footer > a:hover {
    color: #fa5959;
  }

#login, #button_contact_us {
    color: white;
    background-color: #fa5959;
    border: 3px solid #fa595900;

    &:hover {
        color: #fa5959;
        background-color: white;
        border: 3px solid #fa5959;
    }
}

// PRIMER APARTAT
#illustration_hero {
    background-image: url(../media/bg-bar.svg);
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 80% 20%;
}

.custom-button {
    color: white;
    background-color: $primary;
    border: 2px solid rgba(255, 255, 255, 0);

    &:hover {
        color: $primary;
        background-color: rgba(255, 0, 0, 0);
        border: 2px solid $primary;
    }
}

#get_firefox {
    background-color: #F9FAFB;
    border: 2px solid rgba(255, 255, 255, 0);

    &:hover {
        background-color: white;
        border: 2px solid black;
    }
}

// TABS
#header_card, #nav-tabContent {
    text-align: center;
}

#nav-tab {
    border: none;
    border-top: 1px solid rgb(195, 195, 195);
}

#nav-simple-tab,
#nav-speedy-tab,
#nav-easy-tab {
    display: inline-block;
    position: relative;

    color: gray;
    border: none;
    border-bottom: 1px solid rgb(195, 195, 195);
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    min-width: 250px;
    margin-bottom: 1px;

    &:hover {
        color: #fa5959;
    }

    &.active {
        color: black;

        &::after {
            content: '';
            height: 4px;
            width: 30%;
            background: #fa5959;
            position: absolute;
            left: calc(50% - 15%);
            bottom: -2px;
        }
    }
}

#nav-simple > div,
#nav-speedy > div,
#nav-easy > div {
  height: 100%;
}

#tabs_background {
    background-image: url(../media/bg-bar-left.svg);
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 18% 45%;
}

// ACCORDION


.accordion-item > h2 > button:hover {
    color: $secondary;
  }

// DOWNLOAD
%download_cards {
    background-image: url(../media/bg-dots.svg);
    background-repeat: no-repeat;
    background-position: 0px 70%;
}

#download_cards_holder > * {
    @extend %download_cards;
}

#download_cards_holder .col:nth-child(1),
#download_cards_holder .col:nth-child(2),
#download_cards_holder .col:nth-child(3) {
    margin-top: 30px;
}

// FOOTER INPUT

#footer_container {
    background-color: #242946;
}

#footer_slogan {
    letter-spacing: 5px;
}

#button_contact_us {
    height: 55px;
}

#InputEmail::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}

#InputEmail {
    height: 55px;
}

#bookmark_logo_footer {
    filter: invert(100);
}

#navbar_footer > a {
    color: white;
}

.footer_xxss > path {
    transition: 0.3s;

    &:hover {
        fill: $secondary;
    }
}

// MEDIA QUERIS
 
@include media-breakpoint-up(sm) {
    #illustration_hero {
        background-size: 1700px;
        background-position: 80% 80px;
    }

    .ratio-custom {
        --bs-aspect-ratio: calc(15 / 9 * 100%);
    }

    #tabs_background {
        background-size: 1700px;
        background-position: 18% 300px;
    }
}

@include media-breakpoint-up(md) { 

    .ratio-custom {
        --bs-aspect-ratio: calc(10 / 9 * 100%);
    }

    #illustration_hero {
        background-size: 1900px;
        background-position: 80% 140px
    }

    #tabs_background {
        background-size: 1900px;
        background-position: 18% 120px;
    }

    #nav-tab {
        border-top: none;
    }

    #nav-simple-tab, #nav-speedy-tab, #nav-easy-tab {
        width: auto;
        min-width: 200px;

        &.active {
            border-top: none;
            border-bottom: 5px solid #fa5959;
            color: black;
    
            &::after {
                content: none;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .ratio-custom {
        --bs-aspect-ratio: calc(1 / 2 * 100%);
    }

    #download_cards_holder .col:nth-child(1) {
        margin-top: 10px;
    }

    #download_cards_holder .col:nth-child(2) {
        margin-top: 50px;
    }

    #download_cards_holder .col:nth-child(3) {
        margin-top: 90px;
    }

    #header_card, #nav-tabContent {
        text-align: left;
    }

    #illustration_hero {
        background-size: 1450px;
        background-position: center 100px;
    }

    #tabs_background {
        background-size: 1450px;
        background-position: center 250px;
    }

    #features_content, #download_content {
        max-width: 50%;
    }
}

@include media-breakpoint-up(xl) {
    #nav-tabContent img:nth-child(1) {
        width: 100%;
    }

    #illustration_hero {
        background-size: 1700px;
        background-position: center 120px;
    }

    #tabs_background {
        background-size: 1700px;
        background-position: center 310px;
    }
}

@include media-breakpoint-up(xxl) { 
    #illustration_hero {
        background-size: 2000px;
        background-position: center 145px;
    }

    #tabs_background {
        background-size: 2000px;
        background-position: center 330px;
    }
}